.detailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoContainer{
    margin: 10px;
    display: flex; 
}

.imageContainer{
    margin: 15px;
}